.contact-input-container {
  position: relative;
  height: 70px;
  margin-bottom: var(--spacing2);
  width: 80%;
}

.contact-input {
  width: 100%;
  background-color: transparent;
  border: solid 1px white;
  color: white;
  font-family: 'Montserrat';
  position: absolute;
  height: 100%;
  padding: 0 var(--spacing1);
  font-size: 16px;
  transition: 0.5s;
}


.contact-label {
  position: absolute;
  color: white;
  font-family: 'Montserrat';
  transition: 0.5s;
  margin-left: var(--spacing1);
  text-transform: capitalize;
}

.contact-label-unfocused {
  margin-top: 27px;
  font-size: 16px;
}

.contact-label-focused {
  font-size: 12px;
  margin-top: var(--spacing1);
  position: absolute;
}

.contact-input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.212);
  border: solid 1px white;
}

.contact-container {
  height: 100vh;
  padding: 50px;
}

.contact-textarea {
  width: 100%;
  resize: none;
  background-color: transparent;
  border: solid 1px white;
  color: white;
  font-family: 'Montserrat';
  height: 100%;
  padding: var(--spacing1);
  font-size: 16px;
  transition: 0.5s;
}

.contact-textarea:focus {
  outline: none;
}

.contact-textarea-container {
  position: relative;
  height: 250px;
  margin-bottom: var(--spacing2);
  width: 80%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.8);
  transition: 0.5s;
}