
.shooting-star {
  position: absolute;
  background-color: white;
  top: -50;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
}

.header-container {
  display: flex;
  justify-content: center;
  height: 100vh !important;
  flex-direction: column;
}

.star-container {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 150vh;
  overflow: hidden;
  z-index: 0;
}

.header-text {
  width: 100%;
}

.header-link-container {
  z-index: 2;
}
.link-list {
  margin-right: 1em;
  margin-left: 1em;
}

.link-list-0 {
  margin-left: 0em;
}

.link-line {
  display: inline;
}