
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@font-face {
  font-family: 'Pano';
  src: local('Pano'), url(./fonts/Pano-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Pano';
  font-weight: 300;
  src: local('Pano'), url(./fonts/Pano-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Pano';
    font-weight: 700;
    src: local('Pano'), url(./fonts/Pano-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Pano';
    font-style: italic;
    font-weight: 700;
    src: local('Pano'), url(./fonts/Pano-Bold-Italic.otf) format('opentype');
}

@font-face {
  font-family: 'Pano';
  font-style: italic;
  src: local('Pano'), url(./fonts/Pano-Regular-Italic.otf) format('opentype');
}

@font-face {
  font-family: 'Pano';
  font-style: italic;
  font-weight: 300;
  src: local('Pano'), url(./fonts/Pano-Light-Italic.otf) format('opentype');
}

.h1 {
  font-family: 'Pano';
  font-size: 96px;
}

.h2 {
  font-family: 'Pano';
  font-size: 72px;
}

.h3 {
  font-family: 'Pano';
  font-size: 48px;
}

.h4 {
  font-size: 36px;
  font-family: 'Pano';
}