:root {
  --spacing1: 12px;
  --spacing-1: -12px;
  --spacing2: 24px;
  --spacing-2: -24px;
  --spacing3: 36px;
  --spacing-3: -36px;
  --spacing4: 48px;
  --spacing-4: -48px;
  --spacing5: 60px;
  --spacing-5: -60px;
  --spacing6: 72px;
  --spacing-6: -72px;

  --xs: 0px;
  --sm: 600px;
  --md: 960px;
  --lg: 1280px;
  --xl: 1920px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@font-face {
  font-family: 'Pano';
  src: local('Pano'), url(./fonts/Pano-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Pano';
  font-weight: 300;
  src: local('Pano'), url(./fonts/Pano-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Pano';
    font-weight: 700;
    src: local('Pano'), url(./fonts/Pano-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Pano';
    font-style: italic;
    font-weight: 700;
    src: local('Pano'), url(./fonts/Pano-Bold-Italic.otf) format('opentype');
}

@font-face {
  font-family: 'Pano';
  font-style: italic;
  src: local('Pano'), url(./fonts/Pano-Regular-Italic.otf) format('opentype');
}

@font-face {
  font-family: 'Pano';
  font-style: italic;
  font-weight: 300;
  src: local('Pano'), url(./fonts/Pano-Light-Italic.otf) format('opentype');
}

.h1 {
  font-family: 'Pano';
  font-size: 64px;
  color: white;
}

.h2 {
  font-family: 'Pano';
  font-size: 32px;
  color: white;
}


.h3 {
  font-family: 'Pano';
  font-size: 24px;
  color: white;
}

.subtitle {
  font-size: 24px;
  font-style: bold;
  font-family: 'Pano';
  color: white;
}

.body {
  font-size: 16px;
  font-family: 'Montserrat';
  color: white;
}

.italic {
  font-style: italic;
}


.bold {
  font-weight: bold;
}

.container {
  display: flex;
  width: 100%;
}