:root {
  --spacing1: 12px;
  --spacing-1: -12px;
  --spacing2: 2 * var(--spacing-1);
  --spacing-2: 2 * var(--spacing-2);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@font-face {
  font-family: 'Pano';
  src: local('Pano'), url(./fonts/Pano-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Pano';
  font-weight: 300;
  src: local('Pano'), url(./fonts/Pano-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Pano';
    font-weight: 700;
    src: local('Pano'), url(./fonts/Pano-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Pano';
    font-style: italic;
    font-weight: 700;
    src: local('Pano'), url(./fonts/Pano-Bold-Italic.otf) format('opentype');
}

@font-face {
  font-family: 'Pano';
  font-style: italic;
  src: local('Pano'), url(./fonts/Pano-Regular-Italic.otf) format('opentype');
}

@font-face {
  font-family: 'Pano';
  font-style: italic;
  font-weight: 300;
  src: local('Pano'), url(./fonts/Pano-Light-Italic.otf) format('opentype');
}

.h1 {
  font-family: 'Pano';
  font-size: 64px;
}

.h1.white{
  color: white;
}

.h2 {
  font-family: 'Pano';
  font-size: 32px;
}

.h2.white{
  color: white;
}

.h3 {
  font-family: 'Pano';
  font-size: 24px;
}

.h3.white{
  color: white;
}

.subtitle {
  font-size: 24px;
  font-style: bold;
  font-family: 'Pano';
}

.italic {
  font-style: italic;
}

.body {
  font-size: 16px;
  font-family: 'Pano';
}

.body.white {
  color: white;
}
